$field-background-color: dynamic(null);


$field-label-color: dynamic($highlight-color);
$field-label-padding: dynamic(null);
$field-label-padding-big: dynamic(null);

$field-label-font-size: dynamic(13px);
$field-label-font-size-big: dynamic(12px);
$field-label-font-weight: dynamic(400);
$field-label-line-height: dynamic(16px);
$field-label-line-height-big: dynamic(16px);

$field-focused-label-color: dynamic($base-color);
$field-disabled-label-color: dynamic($disabled-color);

$field-required-indicator-font-size: dynamic(14px);
$field-required-indicator-font-weight: dynamic(400);
$field-required-indicator-font-family: dynamic($font-icon-font-family);

$field-required-indicator-position: dynamic(relative);
$field-required-indicator-top: dynamic(-3px);
$field-required-indicator-padding: dynamic($content-padding/4);

$field-vertical-spacing: dynamic(8px);
$field-vertical-spacing-big: dynamic(20px);

$field-disabled-opacity: dynamic(null);

$field-error-icon-side: dynamic('error');
$field-error-icon-under: dynamic('error');

$field-label-padding: dynamic(7px 10px 7px 0);
$field-label-padding-big: dynamic(0);