.#{$prefix}img-background {
  &.home-page-background-image {
    width: 100%;
    height: 50vh;
    background-size: contain;
  }
}

.#{$prefix}button {
  &.#{$prefix}pressing {
  }
  &.home-page-button {
    flex-basis: 47%;
    border: 2px solid $base-color;
    line-height: 34px;
    font-size: 16px;
    background: linear-gradient(212deg, #053752, #e5e7d6, #053752);
    background-size: 600% 600%;
    animation: background-gradient 10s ease infinite;
  }
}

@keyframes background-gradient {
  0%{background-position:0% 96%}
  50%{background-position:100% 5%}
  100%{background-position:0% 96%}
}