.taskClassIMPROVEMENT, .taskClassTASK, .taskClassBUG , .taskClassNEW_FEATURE{
  margin-bottom: 10px;
  .#{$prefix}label {
    &.IMPROVEMENT, &.BUG, &.TASK, &.NEW_FEATURE {
      background-color: $highlight-color;
      color: $background-color;
      padding: 10px 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 15px;
      padding: 7px 0;
    }
  }
}