.#{$prefix}paneltitle{
  .#{$prefix}body-el{
    padding-left: 15px;
  }
}
.#{$prefix}panelheader {

  background: linear-gradient(to top, $base-color,$highlight-color);
  //box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) ;

  .#{$prefix}button, .#{$prefix}icon-el, .#{$prefix}innerhtml{
    color:#001a26;
  }
}

.#{$prefix}textfield{
  .#{$prefix}underline-el{
    background-color:$highlight-color;
  }
}
.projects-button{
  border: 2px solid #ef810e;
  letter-spacing: 1px;
  margin: 10px 0;
  box-shadow: 6px 7px 16px 2px #001a26;
}

.#{$prefix}paneltitle{
  .#{$prefix}body-el{
    margin-left: 15px;
    // @include st-box-shadow($shadow: 0 0 0 5px $base-color inset);

    .#{$prefix}button, .#{$prefix}icon-el, .#{$prefix}innerhtml{
      color:$background-color;
    }
  }
}

.#{$prefix}dialogtitle {
  color: $background-color;
  padding-left: 0;
}

.task-detail-panel {
  margin: 10px;

  .#{$prefix}label{
    font-weight: 400;
  }

  .#{$prefix}innerhtml{
    font-weight: bold;
  }
  .#{$prefix}layout-box-item{
    padding: 2px 0;
    font-size: 15px;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(204,169,44, 1);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}